# CHARTEVENTS
CHARTEVENTS.csv is a 35GB file after uncompress. We first copy the first 1000 lines into a separate file for analsysiIt is split into 100,000 line chunks for easier uploading. The first chunk is loaded for analysis.

In [1]:
# Uncompress data file
#!gunzip mimic-iii-clinical-database-1.4/CHARTEVENTS.csv.gz

In [1]:
import os
import numpy as np
import pandas as pd

## Preview the contents of CHARTEVENTS
Create a sample file of the first 1000 line sof CHARTEVENTS.csv for analysis

In [3]:
# Create a file with the first 1000 lines of CHARTEVENTS.csv
!head -1000 "mimic-iii-clinical-database-1.4/xab" > "MIMIC-data/chart10000.csv"

In [2]:
# Load this first 1000 rows of CHARTEVENTS for analysis
# Reference the CHARTEVENTS column headers from https://mimic.physionet.org/mimictables/chartevents/

data_dir = "MIMIC-data"
df_charts = pd.read_csv(os.path.join(data_dir,"chart10000.csv"), header=None, names=['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'ICUSTAY_ID', 'ITEMID', 'CHARTTIME',
       'STORETIME', 'CGID', 'VALUE', 'VALUENUM', 'VALUEUOM', 'WARNING',
       'ERROR', 'RESULTSTATUS', 'STOPPED'])

In [3]:
# EDA with pandas_profiling
from pandas_profiling import ProfileReport

# EDA report
profile_charts = ProfileReport(df_charts)
profile_charts.to_file(output_file='charts_profile.html')

In [5]:
df_charts.head(10)

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,CHARTTIME,STORETIME,CGID,VALUE,VALUENUM,VALUEUOM,WARNING,ERROR,RESULTSTATUS,STOPPED
172383,171734,1709,127294,207018,220277,2118-01-06 02:00:00,2118-01-06 02:36:00,21452,95.00,95.00,%,0,0,NaN,NaN
172384,171735,1709,127294,207018,220224,2118-01-06 02:39:00,2118-01-06 02:41:00,20889,77.00,77.00,mmHg,1,0,NaN,NaN
172385,171736,1709,127294,207018,220227,2118-01-06 02:39:00,2118-01-06 02:41:00,20889,95.00,95.00,%,0,0,NaN,NaN
172386,171737,1709,127294,207018,220235,2118-01-06 02:39:00,2118-01-06 02:41:00,20889,43.00,43.00,mmHg,0,0,NaN,NaN
172387,171738,1709,127294,207018,223830,2118-01-06 02:39:00,2118-01-06 02:41:00,20889,7.38,7.38,units,0,0,NaN,NaN
172388,171739,1709,127294,207018,224828,2118-01-06 02:39:00,2118-01-06 02:41:00,20889,0.00,0.00,mEq/L,0,0,NaN,NaN
172389,171740,1709,127294,207018,225698,2118-01-06 02:39:00,2118-01-06 02:41:00,20889,26.00,26.00,mEq/L,0,0,NaN,NaN
172390,171741,1709,127294,207018,220045,2118-01-06 03:00:00,2118-01-06 03:35:00,16818,76.00,76.00,bpm,0,0,NaN,NaN
172391,171742,1709,127294,207018,220050,2118-01-06 03:00:00,2118-01-06 03:35:00,16818,164.00,164.00,mmHg,0,0,NaN,NaN
172392,171743,1709,127294,207018,220051,2118-01-06 03:00:00,2118-01-06 03:35:00,16818,88.00,88.00,mmHg,0,0,NaN,NaN

### Observation:
The columns needed are HADM_ID, ITEMID and VALUENUM. HADM_ID will link to the ADMISSIONS table. ITEMID identifies the chart measure, which we need to cross-reference with D_ITEMS table. VALUENUM provides the numerical readings for each chart item. Only the rows containing the chart measures of interest should be retainedd.

In [6]:
df_charts.groupby('ITEMID').count()

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,CHARTTIME,STORETIME,CGID,VALUE,VALUENUM,VALUEUOM,WARNING,ERROR,RESULTSTATUS,STOPPED
ITEMID,,,,,,,,,,,,,,
220045,73,73,73,73,73,73,73,73,73,73,73,73,0,0
220046,9,9,9,9,9,9,9,9,9,9,9,9,0,0
220047,10,10,10,10,10,10,10,10,10,10,10,10,0,0
220050,24,24,24,24,24,24,24,24,24,24,24,24,0,0
220051,24,24,24,24,24,24,24,24,24,24,24,24,0,0
220052,25,25,25,25,25,25,25,25,25,25,25,25,0,0
220056,6,6,6,6,6,6,6,6,6,6,6,6,0,0
220058,6,6,6,6,6,6,6,6,6,6,6,6,0,0
220179,52,52,52,52,52,52,52,52,52,52,52,52,0,0
220180,53,53,53,53,53,53,53,53,53,53,53,53,0,0
220181,53,53,53,53,53,53,53,53,53,53,53,53,0,0
220210,81,81,81,81,81,81,81,81,81,81,81,81,0,0
220224,4,4,4,4,4,4,4,4,4,4,4,4,0,0
220227,3,3,3,3,3,3,3,3,3,3,3,3,0,0
220228,6,6,6,6,6,6,6,6,6,6,6,6,0,0
220235,5,5,5,5,5,5,5,5,5,5,5,5,0,0
220277,84,84,84,84,84,84,84,84,84,84,84,84,0,0
220292,13,13,13,13,13,13,13,13,13,13,13,13,0,0
220293,11,11,11,11,11,11,11,11,11,11,11,11,0,0
220339,13,13,13,13,13,13,13,13,13,13,13,13,0,0
220545,6,6,6,6,6,6,6,6,6,6,6,6,0,0
220546,4,4,4,4,4,4,4,4,4,4,4,4,0,0
220587,2,2,2,2,2,2,2,2,2,2,2,2,0,0
220602,4,4,4,4,4,4,4,4,4,4,4,4,0,0
220615,4,4,4,4,4,4,4,4,4,4,4,4,0,0
220621,4,4,4,4,4,4,4,4,4,4,4,4,0,0
220632,3,3,3,3,3,3,3,3,3,3,3,3,0,0
220635,3,3,3,3,3,3,3,3,3,3,3,3,0,0
220644,2,2,2,2,2,2,2,2,2,2,2,2,0,0
220645,4,4,4,4,4,4,4,4,4,4,4,4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224846,4,4,4,4,4,4,4,4,4,4,4,4,0,0
225612,2,2,2,2,2,2,2,2,2,2,2,2,0,0
225624,3,3,3,3,3,3,3,3,3,3,3,3,0,0
225625,3,3,3,3,3,3,3,3,3,2,3,3,0,0
225634,2,2,2,2,2,2,2,2,2,2,2,2,0,0
225664,6,6,6,6,6,6,6,6,6,0,6,6,0,0
225668,2,2,2,2,2,2,2,2,2,2,2,2,0,0
225677,2,2,2,2,2,2,2,2,2,2,2,2,0,0
225690,2,2,2,2,2,2,2,2,2,2,2,2,0,0
225698,4,4,4,4,4,4,4,4,4,4,4,4,0,0
226253,8,8,8,8,8,8,8,8,8,8,8,8,0,0
226499,1,1,1,1,1,1,1,1,1,1,1,1,0,0
226512,1,1,1,1,1,1,1,1,1,1,1,1,0,0
226871,7,7,7,7,7,7,7,7,7,0,7,7,0,0
226873,7,7,7,7,7,7,7,7,7,0,7,7,0,0
227073,4,4,4,4,4,4,4,4,4,4,4,4,0,0
227187,1,1,1,1,1,1,1,1,1,1,1,1,0,0
227287,2,2,2,2,2,2,2,2,2,2,2,2,0,0
227429,1,1,1,1,1,1,1,1,1,1,1,1,0,0
227442,4,4,4,4,4,4,4,4,4,4,4,4,0,0
227443,4,4,4,4,4,4,4,4,4,4,4,4,0,0
227445,1,1,1,1,1,1,1,1,1,1,1,1,0,0
227454,1,1,1,1,1,1,1,1,1,1,1,1,0,0
227456,1,1,1,1,1,1,1,1,1,1,1,1,0,0
227457,4,4,4,4,4,4,4,4,4,4,4,4,0,0
227465,4,4,4,4,4,4,4,4,4,4,4,4,0,0
227466,3,3,3,3,3,3,3,3,3,3,3,3,0,0
227467,4,4,4,4,4,4,4,4,4,0,4,4,0,0
227565,5,5,5,5,5,5,5,5,5,0,5,5,0,0
227566,5,5,5,5,5,5,5,5,5,0,5,5,0,0

## Cross-referencing D_ITEMS.csv
To understand what each ITEMID represents, cross-reference the D_ITEMS.csv dictionary.

In [8]:
df_Ditems = pd.read_csv(os.path.join(data_dir,'D_ITEMS.csv'))
df_Ditems

,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
0,457,497,Patient controlled analgesia (PCA) [Inject],NaN,carevue,chartevents,NaN,NaN,NaN,NaN
1,458,498,PCA Lockout (Min),NaN,carevue,chartevents,NaN,NaN,NaN,NaN
2,459,499,PCA Medication,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
3,460,500,PCA Total Dose,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
4,461,501,PCV Exh Vt (Obser),NaN,carevue,chartevents,NaN,NaN,NaN,NaN
5,1157,927,Allergy 2,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
6,1158,930,Ext,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
7,1159,935,Allergy 3,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
8,1160,938,blood cultures,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
9,1161,940,trach care,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
10,1162,941,urine culture,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
11,1163,942,BLOOD CULTURES,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
12,1164,944,Chest PT,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
13,1165,946,STV,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
14,1166,956,CPT,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
15,1167,964,THAM CC/HR,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
16,1168,968,EKG,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
17,1169,970,TRACH CARE,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
18,1170,972,passy muir valve,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
19,1171,977,TRACHE CARE,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
20,1172,981,dilaudid,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
21,1173,983,LEECH THERAPY,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
22,1174,986,ABG Hct,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
23,1175,987,Clot to Blood Bank,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
24,1176,993,bladder pressure,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
25,1177,996,BLADDER PRESSURE,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
26,1178,1000,cisatricurium,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
27,1179,1001,rotation,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
28,1180,1003,cuff pressure,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
29,1181,1010,High exhaled min vol,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
12457,13701,225328,Tunneled (Hickman) Change over Wire Date,Tunneled (Hickman) Change over Wire Date,metavision,datetimeevents,Access Lines - Invasive,NaN,Date time,NaN
12458,13702,225329,Tunneled (Hickman) Dressing Change,Tunneled (Hickman) Dressing Change,metavision,datetimeevents,Access Lines - Invasive,NaN,Date time,NaN
12459,13703,225330,Tunneled (Hickman) Insertion Date,Tunneled (Hickman) Insertion Date,metavision,datetimeevents,Access Lines - Invasive,NaN,Date time,NaN
12460,13704,225331,Tunneled (Hickman) Site Appear,Tunneled (Hickman) Site Appear,metavision,chartevents,Access Lines - Invasive,NaN,Text,NaN
12461,13705,225048,Knee Location - Immobilizer,Knee Location - Immobilizer,metavision,chartevents,Treatments,NaN,Text,NaN
12462,13706,225050,Warming Device Status,Warming Device Status,metavision,chartevents,Treatments,NaN,Text,NaN
12463,13707,225052,Cooling Device Status,Cooling Device Status,metavision,chartevents,Treatments,NaN,Text,NaN
12464,13708,225054,Anti Embolic Device Status,Anti Embolic Device Status,metavision,chartevents,Treatments,NaN,Text,NaN
12465,13709,225059,Past medical history,PMH,metavision,chartevents,Adm History/FHPA,NaN,Text,NaN
12466,14502,226741,APACHE II Diagnosistic weight factors - Surgic...,Diagnosistic weight categories - Surgical emer...,metavision,chartevents,Scores - APACHE II,NaN,Text,NaN
12467,14503,226742,APACHE II Diagnosistic weight factors - Surgical,Diagnosistic weight categories - Surgical,metavision,chartevents,Scores - APACHE II,NaN,Text,NaN
12468,14504,226743,APACHE II,APACHE II,metavision,chartevents,Scores - APACHE II,None,Numeric,NaN
12469,14505,226744,APACHE II PDR - Adjusted,APACHE II PDR - Adjusted,metavision,chartevents,Scores - APACHE II,%,Numeric,NaN
12470,14506,226745,APACHE II Predecited Death Rate,APACHE II PDR,metavision,chartevents,Scores - APACHE II,%,Numeric,NaN
12471,14507,226746,ApacheII chronic health,ApacheII chronic health,metavision,chartevents,Scores - APACHE II,NaN,Text,NaN
12472,14508,226747,APACHEII-Chronic health points,APACHEII-Chp,metavision,chartevents,Scores - APACHE II,NaN,Text,NaN
12473,14509,226748,APACHEII-Renal failure,APACHEII-Renal failure,metavision,chartevents,Scores - APACHE II,NaN,Checkbox,NaN
12474,14510,226749,ChpApacheIIScore,ChpApacheIIScore,metavision,chartevents,Scores - APACHE II,None,Numeric,NaN
12475,14511,226750,Chronic Dilaysis,Chronic Dilaysis,metavision,chartevents,Scores - APACHE IV (2),NaN,Checkbox,NaN
12476,14512,226751,CreatinineApacheIIScore,CreatinineApacheIIScore,metavision,chartevents,Scores - APACHE II,None,Numeric,NaN
12477,14513,226752,CreatinineApacheIIValue,CreatinineApacheIIValue,metavision,chartevents,Scores - APACHE II,None,Numeric,NaN
12478,14514,226753,DswfApacheScore,DswfApacheScore,metavision,chartevents,Scores - APACHE II,None,Numeric,NaN
12479,14515,226754,FiO2ApacheIIValue,FiO2ApacheIIValue,metavision,chartevents,Scores - APACHE II,%,Numeric,NaN
12480,14516,226755,GcsApacheIIScore,GcsApacheIIScore,metavision,chartevents,Scores - APACHE II,None,Numeric,NaN
12481,14517,226756,GCSEyeApacheIIValue,GCSEyeApacheIIValue,metavision,chartevents,Scores - APACHE II,NaN,Text,NaN
12482,14518,226757,GCSMotorApacheIIValue,GCSMotorApacheIIValue,metavision,chartevents,Scores - APACHE II,NaN,Text,NaN
12483,14519,226758,GCSVerbalApacheIIValue,GCSVerbalApacheIIValue,metavision,chartevents,Scores - APACHE II,NaN,Text,NaN
12484,14520,226759,HCO3ApacheIIValue,HCO3ApacheIIValue,metavision,chartevents,Scores - APACHE II,None,Numeric,NaN
12485,14521,226760,HCO3Score,HCO3Score,metavision,chartevents,Scores - APACHE II,None,Numeric,NaN
12486,14522,226761,HematocritApacheIIScore,HematocritApacheIIScore,metavision,chartevents,Scores - APACHE II,None,Numeric,NaN

In [9]:
print(df_Ditems[df_Ditems['ITEMID']==220045]['LABEL'])
print(df_Ditems[df_Ditems['ITEMID']==220050]['LABEL'])
print(df_Ditems[df_Ditems['ITEMID']==220051]['LABEL'])
print(df_Ditems[df_Ditems['ITEMID']==223761]['LABEL'])
print(df_Ditems[df_Ditems['ITEMID']==220546]['LABEL'])

11498    Heart Rate
Name: LABEL, dtype: object
11502    Arterial Blood Pressure systolic
Name: LABEL, dtype: object
11503    Arterial Blood Pressure diastolic
Name: LABEL, dtype: object
12366    Temperature Fahrenheit
Name: LABEL, dtype: object
11472    WBC
Name: LABEL, dtype: object

In [10]:
# heart rate: ITEMID = 220045

df_charts[df_charts['ITEMID']==220045]

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,CHARTTIME,STORETIME,CGID,VALUE,VALUENUM,VALUEUOM,WARNING,ERROR,RESULTSTATUS,STOPPED
172390,171741,1709,127294,207018,220045,2118-01-06 03:00:00,2118-01-06 03:35:00,16818,76.0,76.0,bpm,0,0,NaN,NaN
172434,170135,1709,127294,207018,220045,2118-01-02 22:15:00,2118-01-02 22:17:00,16302,79.0,79.0,bpm,0,0,NaN,NaN
172450,170151,1709,127294,207018,220045,2118-01-02 23:00:00,2118-01-02 23:31:00,16797,81.0,81.0,bpm,0,0,NaN,NaN
172497,171174,1709,127294,207018,220045,2118-01-05 00:45:00,2118-01-05 01:18:00,16707,92.0,92.0,bpm,0,0,NaN,NaN
172504,171181,1709,127294,207018,220045,2118-01-05 01:00:00,2118-01-05 01:17:00,16707,91.0,91.0,bpm,0,0,NaN,NaN
172517,171194,1709,127294,207018,220045,2118-01-05 02:00:00,2118-01-05 02:17:00,16707,86.0,86.0,bpm,0,0,NaN,NaN
172532,174658,1709,127294,207018,220045,2118-01-13 05:00:00,2118-01-13 05:13:00,21452,88.0,88.0,bpm,0,0,NaN,NaN
172569,175675,1709,127294,207018,220045,2118-01-15 11:00:00,2118-01-15 11:04:00,19589,54.0,54.0,bpm,0,0,NaN,NaN
172590,175696,1709,127294,207018,220045,2118-01-15 12:00:00,2118-01-15 12:28:00,19589,70.0,70.0,bpm,0,0,NaN,NaN
172600,175706,1709,127294,207018,220045,2118-01-15 13:00:00,2118-01-15 13:32:00,19589,71.0,71.0,bpm,0,0,NaN,NaN
172607,175713,1709,127294,207018,220045,2118-01-15 14:00:00,2118-01-15 14:08:00,19589,85.0,85.0,bpm,0,0,NaN,NaN
172615,175721,1709,127294,207018,220045,2118-01-15 15:00:00,2118-01-15 15:23:00,19589,85.0,85.0,bpm,0,0,NaN,NaN
172625,175731,1709,127294,207018,220045,2118-01-15 16:00:00,2118-01-15 16:04:00,19589,92.0,92.0,bpm,0,0,NaN,NaN
172670,167233,1578,127454,226178,220045,2141-02-21 09:00:00,2141-02-21 09:05:00,17114,62.0,62.0,bpm,0,0,NaN,NaN
172679,167242,1578,127454,226178,220045,2141-02-21 10:00:00,2141-02-21 10:22:00,17114,66.0,66.0,bpm,0,0,NaN,NaN
172685,167248,1578,127454,226178,220045,2141-02-21 11:00:00,2141-02-21 12:00:00,17114,60.0,60.0,bpm,0,0,NaN,NaN
172691,167254,1578,127454,226178,220045,2141-02-21 12:00:00,2141-02-21 12:00:00,17114,60.0,60.0,bpm,0,0,NaN,NaN
172698,167261,1578,127454,226178,220045,2141-02-21 13:00:00,2141-02-21 13:23:00,17114,60.0,60.0,bpm,0,0,NaN,NaN
172719,164231,1563,190933,222647,220045,2179-05-05 05:00:00,2179-05-05 05:05:00,14435,81.0,81.0,bpm,0,0,NaN,NaN
172726,164238,1563,190933,222647,220045,2179-05-05 06:00:00,2179-05-05 06:10:00,14435,83.0,83.0,bpm,0,0,NaN,NaN
172732,164244,1563,190933,222647,220045,2179-05-05 07:00:00,2179-05-05 06:37:00,14435,74.0,74.0,bpm,0,0,NaN,NaN
172742,171761,1709,127294,207018,220045,2118-01-06 04:00:00,2118-01-06 04:13:00,21452,74.0,74.0,bpm,0,0,NaN,NaN
172779,168630,1578,127454,226178,220045,2141-02-26 08:00:00,2141-02-26 07:49:00,18076,67.0,67.0,bpm,0,0,NaN,NaN
172788,168639,1578,127454,226178,220045,2141-02-26 09:00:00,2141-02-26 09:13:00,18076,65.0,65.0,bpm,0,0,NaN,NaN
172794,168645,1578,127454,226178,220045,2141-02-26 10:00:00,2141-02-26 10:11:00,18076,70.0,70.0,bpm,0,0,NaN,NaN
172800,168651,1578,127454,226178,220045,2141-02-26 11:00:00,2141-02-26 12:14:00,18076,62.0,62.0,bpm,0,0,NaN,NaN
172806,168657,1578,127454,226178,220045,2141-02-26 12:00:00,2141-02-26 12:14:00,18076,77.0,77.0,bpm,0,0,NaN,NaN
172813,168664,1578,127454,226178,220045,2141-02-26 13:00:00,2141-02-26 14:43:00,18076,67.0,67.0,bpm,0,0,NaN,NaN
172819,168670,1578,127454,226178,220045,2141-02-26 14:00:00,2141-02-26 14:43:00,18076,69.0,69.0,bpm,0,0,NaN,NaN
172825,168676,1578,127454,226178,220045,2141-02-26 15:00:00,2141-02-26 16:45:00,18076,71.0,71.0,bpm,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173033,173705,1709,127294,207018,220045,2118-01-10 17:00:00,2118-01-10 17:16:00,19589,89.0,89.0,bpm,0,0,NaN,NaN
173040,173712,1709,127294,207018,220045,2118-01-10 18:00:00,2118-01-10 18:04:00,19589,87.0,87.0,bpm,0,0,NaN,NaN
173047,173719,1709,127294,207018,220045,2118-01-10 18:15:00,2118-01-10 18:17:00,19589,106.0,106.0,bpm,1,0,NaN,NaN
173053,173725,1709,127294,207018,220045,2118-01-10 19:00:00,2118-01-10 19:33:00,21452,86.0,86.0,bpm,0,0,NaN,NaN
173060,173732,1709,127294,207018,220045,2118-01-10 20:00:00,2118-01-10 21:36:00,21452,85.0,85.0,bpm,0,0,NaN,NaN
173077,177453,1709,127294,207018,220045,2118-01-20 12:00:00,2118-01-20 12:32:00,15623,82.0,82.0,bpm,0,0,NaN,NaN
173103,177479,1709,127294,207018,220045,2118-01-20 13:00:00,2118-01-20 12:50:00,15623,85.0,85.0,bpm,0,0,NaN,NaN
173109,177485,1709,127294,207018,220045,2118-01-20 14:00:00,2118-01-20 14:00:00,15623,90.0,90.0,bpm,0,0,NaN,NaN
173115,177491,1709,127294,207018,220045,2118-01-20 15:00:00,2118-01-20 15:01:00,15623,92.0,92.0,bpm,0,0,NaN,NaN
173134,178556,1709,127294,207018,220045,2118-01-23 21:00:00,2118-01-23 21:46:00,19085,107.0,107.0,bpm,0,0,NaN,NaN
173140,178562,1709,127294,207018,220045,2118-01-23 22:00:00,2118-01-24 00:15:00,19085,96.0,96.0,bpm,0,0,NaN,NaN
173146,178568,1709,127294,207018,220045,2118-01-23 23:00:00,2118-01-24 00:15:00,19085,93.0,93.0,bpm,0,0,NaN,NaN
173152,178574,1709,127294,207018,220045,2118-01-24 00:00:00,2118-01-24 03:12:00,19085,89.0,89.0,bpm,0,0,NaN,NaN
173162,178584,1709,127294,207018,220045,2118-01-24 01:00:00,2118-01-24 03:12:00,19085,89.0,89.0,bpm,0,0,NaN,NaN
173168,178590,1709,127294,207018,220045,2118-01-24 02:00:00,2118-01-24 03:12:00,19085,88.0,88.0,bpm,0,0,NaN,NaN
173174,178596,1709,127294,207018,220045,2118-01-24 03:00:00,2118-01-24 04:48:00,19085,94.0,94.0,bpm,0,0,NaN,NaN
173209,172078,1709,127294,207018,220045,2118-01-06 21:00:00,2118-01-06 21:02:00,21452,73.0,73.0,bpm,0,0,NaN,NaN
173215,172084,1709,127294,207018,220045,2118-01-06 22:00:00,2118-01-06 22:23:00,21452,71.0,71.0,bpm,0,0,NaN,NaN
173234,172103,1709,127294,207018,220045,2118-01-06 23:00:00,2118-01-06 23:02:00,21452,68.0,68.0,bpm,0,0,NaN,NaN
173264,173119,1709,127294,207018,220045,2118-01-09 07:45:00,2118-01-09 07:59:00,15623,78.0,78.0,bpm,0,0,NaN,NaN
173270,173125,1709,127294,207018,220045,2118-01-09 08:00:00,2118-01-09 07:58:00,15623,100.0,100.0,bpm,0,0,NaN,NaN
173287,173142,1709,127294,207018,220045,2118-01-09 08:30:00,2118-01-09 08:35:00,15623,86.0,86.0,bpm,0,0,NaN,NaN
173294,174616,1709,127294,207018,220045,2118-01-13 02:00:00,2118-01-13 02:41:00,21452,87.0,87.0,bpm,0,0,NaN,NaN
173302,175539,1709,127294,207018,220045,2118-01-15 02:00:00,2118-01-15 02:04:00,16436,66.0,66.0,bpm,0,0,NaN,NaN
173308,175545,1709,127294,207018,220045,2118-01-15 03:00:00,2118-01-15 04:30:00,16436,64.0,64.0,bpm,0,0,NaN,NaN
173338,175575,1709,127294,207018,220045,2118-01-15 04:00:00,2118-01-15 04:30:00,16436,73.0,73.0,bpm,0,0,NaN,NaN
173378,172525,1709,127294,207018,220045,2118-01-08 01:00:00,2118-01-08 01:40:00,20704,85.0,85.0,bpm,0,0,NaN,NaN
173413,178094,1709,127294,207018,220045,2118-01-22 07:00:00,2118-01-22 07:03:00,19085,80.0,80.0,bpm,0,0,NaN,NaN
173419,178100,1709,127294,207018,220045,2118-01-22 08:00:00,2118-01-22 09:02:00,20701,80.0,80.0,bpm,0,0,NaN,NaN
173447,178128,1709,127294,207018,220045,2118-01-22 09:00:00,2118-01-22 09:02:00,20701,86.0,86.0,bpm,0,0,NaN,NaN

In [11]:
# BP systolic: ITEMID = 220050
df_charts[df_charts['ITEMID']==220050].head()

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,CHARTTIME,STORETIME,CGID,VALUE,VALUENUM,VALUEUOM,WARNING,ERROR,RESULTSTATUS,STOPPED
172391,171742,1709,127294,207018,220050,2118-01-06 03:00:00,2118-01-06 03:35:00,16818,164.0,164.0,mmHg,0,0,NaN,NaN
172498,171175,1709,127294,207018,220050,2118-01-05 00:45:00,2118-01-05 01:18:00,16707,121.0,121.0,mmHg,0,0,NaN,NaN
172505,171182,1709,127294,207018,220050,2118-01-05 01:00:00,2118-01-05 01:17:00,16707,129.0,129.0,mmHg,0,0,NaN,NaN
172533,174659,1709,127294,207018,220050,2118-01-13 05:00:00,2118-01-13 05:13:00,21452,157.0,157.0,mmHg,0,0,NaN,NaN
172743,171762,1709,127294,207018,220050,2118-01-06 04:00:00,2118-01-06 04:13:00,21452,170.0,170.0,mmHg,0,0,NaN,NaN

In [12]:
# BP diastolic: ITEMID = 220051
df_charts[df_charts['ITEMID']==220051]['VALUENUM'].count()
df_charts[df_charts['ITEMID']==220051]['VALUENUM'].describe()

count     24.000000
mean      82.958333
std       10.780333
min       56.000000
25%       75.750000
50%       81.000000
75%       90.500000
max      101.000000
Name: VALUENUM, dtype: float64

In [13]:
# Temperature F: ITEMID = 223761
df_charts[df_charts['ITEMID']==223761].count()

ROW_ID          26
SUBJECT_ID      26
HADM_ID         26
ICUSTAY_ID      26
ITEMID          26
CHARTTIME       26
STORETIME       26
CGID            26
VALUE           26
VALUENUM        26
VALUEUOM        26
WARNING         26
ERROR           26
RESULTSTATUS     0
STOPPED          0
dtype: int64

In [14]:
# White blood count (WBC): ITEMID = 220546
df_charts[df_charts['ITEMID']==220546].head()

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,CHARTTIME,STORETIME,CGID,VALUE,VALUENUM,VALUEUOM,WARNING,ERROR,RESULTSTATUS,STOPPED
172459,170160,1709,127294,207018,220546,2118-01-02 23:07:00,2118-01-02 23:51:00,20889,6.6,6.6,K/uL,0,0,NaN,NaN
172540,174666,1709,127294,207018,220546,2118-01-13 05:12:00,2118-01-13 05:35:00,20889,12.3,12.3,K/uL,1,0,NaN,NaN
173224,172093,1709,127294,207018,220546,2118-01-06 22:24:00,2118-01-06 22:49:00,20889,6.8,6.8,K/uL,0,0,NaN,NaN
173316,175553,1709,127294,207018,220546,2118-01-15 03:00:00,2118-01-15 04:31:00,20889,8.9,8.9,K/uL,0,0,NaN,NaN

### Input selection from Chart events
The following chart events will be used as input:
* Heart rate: ITEMID = 220045
* BP systolic: ITEMID = 220050
* BP diastolic: ITEMID = 220051
* Temperature F: ITEMID = 223761
* White blood count (WBC): ITEMID = 220546

The item codes are retrieved from D_ITEMS.csv

## Extract chart features
Using awk command to filter for specific itemID through all the chunks

In [16]:
!awk -F, '$6 == "220045" {print $4, $11 } ' mimic-iii-clinical-database-1.4/x* > MIMIC-data/Heartrate_220045.csv
!awk -F, '$6 == "220050" {print $4, $11 } ' mimic-iii-clinical-database-1.4/x* > MIMIC-data/BPsys_220050.csv
!awk -F, '$6 == "220051" {print $4, $11 } ' mimic-iii-clinical-database-1.4/x* > MIMIC-data/BPdia_220051.csv
!awk -F, '$6 == "223761" {print $4, $11 } ' mimic-iii-clinical-database-1.4/x* > MIMIC-data/Temp_223761.csv
!awk -F, '$6 == "220546" {print $4, $11 } ' mimic-iii-clinical-database-1.4/x* > MIMIC-data/WBC_220546.csv

### Proceed to analysis and feature engineering next